
*{
  margin: 0 auto;
}
/* use reverse flexbox to take advantage of flex-direction: reverse */
.star-rating {
    display: flex;
    align-items: center;
    width: 160px;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 40px auto;
    position: relative;
  }
  /* hide the inputs */
  .star-rating input {
    display: none;
  }
  /* set properties of all labels */
  .star-rating > label {
    width: 30px;
    height: 30px;
    font-family: Arial;
    font-size: 30px;
    transition: 0.2s ease;
    color: orange;
  }
  /* give label a hover state */
  .star-rating label:hover {
    color: #ff69b4;
    transition: 0.2s ease;
  }
  .star-rating label:active::before {
    transform:scale(1.1);
  }
  
  /* set shape of unselected label */
  .star-rating label::before {
    content: '\2606';
    position: absolute;
    top: 0px;
    line-height: 26px;
  }
  /* set full star shape for checked label and those that come after it */
  .star-rating input:checked ~ label:before {
    content:'\2605';
  }
  
  @-moz-document url-prefix() {
    .star-rating input:checked ~ label:before {
    font-size: 36px;
    line-height: 21px;
    }
  }  

/*------------------------------------------------*/
h1, footer {
  text-align: center;
  background-color: #2D032B;
  color: #FDFDFD;
  padding: 10px;
  font-family: Nunito;
  max-width: 400px;
}
main, h1, footer{
  max-width: 400px;
}

h1 {
  border-radius: 0px 0px 10px 10px;
}
footer {
  border-radius: 10px 10px 0px 0px;
}

main {
  background-color: #D5CDD5;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

fieldset {
  border: none;
}

.review label {
  display: block;
  padding-top: 1rem;
  font-size: .9rem;
  font-weight: bold;
  font-family: Nunito;
  
}
p{
  font-family: Nunito;
  font-weight: bold;

}

/*
.review input[type="text"],



.review input[type="date"],
.review select
{
  background-color: "#eee";
  display: block;
  border: solid 1px #999;
  border-radius: 6px;
  padding:  .75rem .75rem .75rem .75rem;
  color: #555;
  width: 100%;
  appearance: none;
}
  */
#product
{
  background-color: #eee;
  display: block;
  border: solid 1px #999;
  border-radius: 6px;
  padding:  .75rem .75rem .75rem .75rem;
  color: #555;
  width: 100%;
  appearance: none;
}

#name, #date {
  background-color: #eee;
  display: block;
  border: solid 1px #999;
  border-radius: 6px;

  color: #555;
  width: 370px;
  height: 40px;
  appearance: none;

}

div {
  font-family: Nunito;
  font-weight: bold;
}

.review input[type="checkbox"]{
    margin-right: 6px;
}




#name{
  margin: 0px -10% 0px -2%;

}

.review input[type="submit"]{
  border: none;
  border-radius: 6px;
  padding: .8rem;
  width: 96%;
  max-width: 400px;
  margin: 1rem 2% 1rem 2%;
  box-shadow: 1px 1px 4px #999 ;
  font-family: Nunito;
  font-weight: bold;
  font-size: 1rem;
}

.review input:required {
  border-left: solid 8px red;
}

.review input:required:valid {
  border-right: solid 10px green;
}
#review{
  display: flex;
  width: 370px;

}


