
@media screen and (max-width:800px) {
   
    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        width: 300px;
        align-items: center;
    
    }
    img {
        width:312px ;
       
    }
}

@media screen and (max-width:400px) {
   
    .gallery{
        display: grid;
        grid-template-columns: 1fr ;
        width: 300px;
        align-items: center;
    
    }
    img {
        width: 300px;
        

       
    }
}




