
@media screen and (max-width:800px) {
   
    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        width: 300px;
        align-items: center;
    }
    img {
        width:312px ; 
    }
}

@media screen and (max-width:576px) {
    
    #menu {
        display: block;
        font-size: 1.5rem;
        border: 0;
        background-color: transparent;
        color: white;
        font-weight: bold;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    #menu::before {
        content: "☰";
    }
    
    #menu.open::before {
        content: "🔴";
    }
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        list-style: none;
        color: white;
    }
    
    .nav a {
        display: none;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }
    .nav a:hover {
        background-color: white;
        font-weight: 700;
        color: #2A9D8F;
    }
    
    /* when the button is clicked - the open class is toggled (added/removed) */
    .open a {
        display: block;
    }
    
    .gallery{
        display: grid;
        grid-template-columns: 1fr ;
        width: 300px;
        align-items: center;
    
    }
    img {
        width: 300px;
    }

    footer {
        color: #000000;
        font-weight: bold;
    }
}




